.component {
  position: relative; /* Necessary for the absolute positioning of the image */
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  
  /* Other styles for the component */
}

.top-left-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;  /* Fixed width */
  height: 50px;  /* Fixed height */
  margin-top: 10px;  /* Adjust as needed */
  margin-left: 10px; /* Adjust as needed */
  object-fit: contain;  /* Ensures the image fits within the width/height */
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6; /* Light gray background */
}


.card {
  /* padding: 60px; */
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  background-color: #ffffff;
  width: 100% !important;
  padding: 22px !important;
  /* height: auto; */
  /* margin: 0  10px 20px 20px !important; */
  margin: 0  0px 20px 0px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card .title-count{
  color: #6F6F6F;
font-family: "Plus Jakarta Sans";
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.card .content h3{
  color: #121212;
font-family: "Plus Jakarta Sans";
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 80% */
}
/* For large screens (desktops and laptops) */
@media (min-width: 1024px) {
.card {
  /* padding: 60px; */
  width: 90%;
}
}

/* For medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
.card {
  /* padding: 40px;
  width: 80%; */
}
}

/* For small screens (mobile devices) */
@media (max-width: 767px) {
.card {
  /* padding: 20px;
  width: 95%; */
}
}
@media (min-width: 1024px) {
.card {
  /* padding: 20px;
  width: 60%; */
}
}

.header {
  margin-bottom: 20px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stepper-container {
  margin-top: 52px;
  margin-bottom: 50px;
  width: 80%; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
}

/* Smartphones */
@media (max-width: 359px) {
.stepper-container {
    width: 90%; /* Extra small smartphones */
}
}

@media (min-width: 360px) and (max-width: 411px) {
.stepper-container {
    width: 90%; /* Small smartphones */
}
}

@media (min-width: 412px) and (max-width: 479px) {
.stepper-container {
    width: 90%; /* Medium smartphones */
}
}

@media (min-width: 480px) and (max-width: 767px) {
.stepper-container {
    width: 90%; /* Large smartphones */
}
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
.stepper-container {
    width: 90%; /* Tablets */
}
}

/* Desktops/Laptops */
@media (min-width: 1024px) and (max-width: 1365px) {
.stepper-container {
    width: 90%; /* Small desktops/laptops */
}
}

@media (min-width: 1366px) and (max-width: 1919px) {
.stepper-container {
    width: 90%; /* Medium desktops/laptops */
}
}

@media (min-width: 1920px) {
.stepper-container {
    width: 90%; /* Large desktops/laptops */
}
}



.form-container {
  margin-bottom: 20px;
}

.applicant-details-form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Optional: Add some space between buttons if needed */
   margin-right: 20px;
   margin-bottom: 20px;
  
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width:180px;
  height: 40px;
  background-color: #F97316;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: none; /* This will show the text as it is */
  margin-bottom: 20px;
}

/* Media query for small screens */
@media (max-width: 600px) {
.form-button {
    width: 100%; /* Full width on small screens */
    max-width: 150px; /* Decrease the max-width on small screens */
}
}

/* Media query for very small screens */
@media (max-width: 400px) {
.form-button {
    width: 100%; /* Full width on very small screens */
    max-width: 120px; /* Further decrease the max-width */
}
}
/* Media query for tablets */
@media (min-width: 600px) and (max-width: 900px) {
.form-button {
    width: 100%; /* Full width on tablets */
    max-width: 160px; /* Adjust the max-width for tablets */
    margin-right: 25px;
}
}
.form-button:disabled {
  background-color: #cbd5e1;
  cursor: not-allowed;
}


/* Add additional CSS styles for responsiveness as needed */

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}

.step-item:not(:last-child) {
  margin-right: 10px;
}

.step-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #F97316; /* Circle border color (gray-300) */
  background-color: #ffffff;
  color: #F97316; /* Default text color (gray-500) */
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.step-circle.active {
  background-color: #F97316; /* Active background color (orange-500) */
  color: #ffffff; /* Active text color (white) */
  border-color: #F97316; /* Active border color (orange-500) */
}

.step-circle.completed {
  background-color: #10b981; /* Completed background color (green-500) */
  color: #ffffff; /* Completed text color (white) */
  border-color: #10b981; /* Completed border color (green-500) */
}

.step-label {
  margin-top: 0.5rem;
  color: #6b7280; /* Text color (gray-500) */
}

.step-line {
  position: absolute;
  top: 20px; /* Center the line vertically with the circle */
  left: -50%;
  width: 100%;
  height: 2px;
  background-color: #F97316; /* Line color (orange-300) */
  z-index: 0;
}

.step-line.completed {
  background-color: #10b981; /* Completed line color (green-500) */
}


.first .input-form {
  border-radius: 8px; /* Rounded corners */
  border: 8px solid #E5E5E5; /* Light grey border */
  background: #F5F5F5; /* Light grey background */
  padding: 10px; /* Padding for better appearance */
  margin-bottom: 15px; /* Gap between input fields */
  width: 100%; /* Full width */
  /* display: flex;
  flex-wrap: wrap; */
  gap: 20px; /* Gap between columns */
}

/* For screens smaller than 768px (e.g., mobile) */
@media (max-width: 767px) {
  .first .input-form {
      flex-direction: column; /* Display input fields in one column */
  }
}
@media (min-width: 768px) and (max-width: 1023px){
.first .input-form {
    flex-direction: column; /* Display input fields in one column */
}
}

/* For screens larger than or equal to 768px (e.g., laptop, tablet) */
@media (min-width: 1024px) {
  .first .input-form {
      flex-direction: row; /* Display input fields in two columns */
  }
}


.input-wrapper .input-form {
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #E5E5E5; /* Light grey border */
  background: #F5F5F5; /* Light grey background */
  padding: 10px; /* Padding for better appearance */
  margin-bottom: 5px; /* Gap between input fields */
  width: 100%; /* Full width */
}

.typeahead {
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #E5E5E5; /* Light grey border */
  background: #F5F5F5; /* Light grey background */
  padding: 10px; /* Padding for better appearance */
  margin-bottom: 15px; /* Gap between input fields */
  width: 100%; /* Full width */
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Gap between columns */
}

.input-wrapper {
  flex: 1 1 calc(50% - 20px); /* Adjust width to fit two columns with gap */
  box-sizing: border-box;
}

.error-message {
  font-size: 12px; /* Smaller font size */
  color: red; /* Error message color */
  margin-top: 5px; /* Margin to space it from other elements */
}
.pl-16{padding-left: 16px !important;}
.display-flex{
  display: flex;
}
/* For large screens (desktops and laptops) */
/*@media (min-width: 1024px) {
.step-circle {
  width: 50px;
  height: 50px;
}

.step-line {
  top: 25px; 
}
}


@media (min-width: 768px) and (max-width: 1023px) {
.step-circle {
  width: 45px;
  height: 45px;
}

.step-line {
  top: 22.5px;
}
}

@media (max-width: 767px) {
.step-circle {
  width: 40px;
  height: 40px;
}

.step-line {
  top: 20px; 
}


.step-label {
  margin-top: 0.25rem;
  font-size: 0.875rem; 
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-line {
  position: relative;
  width: 80%; 
  left: 0;
  top: 0.5rem;
  margin-bottom: 1rem;
}
}


.step-container {
display: flex;
justify-content: space-between;
position: relative;
}

.step-wrapper {
position: relative;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

.step-wrapper:not(:last-child) .step-line {
position: absolute;
right: 0;
left: auto;
width: 100%;
} */